{% extends "base.html" %}

{% block head %}
    {% block title %}Innoweb - {{ e.name }}{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/event.css' %}">
{% endblock %}     

{% block content %}
<div class="event-details">
    <div class="event-header">
        <div class="event-card">
            <h2 class="title-event">
                {{ e.name}}
            </h2>
            <div class="image-card">
                <img class="event-image" src= {{ e.photo }} alt="Event image"/>    
            </div>
        </div>

        <div class="podium-wrapper-event">            
            {% include "components/podium.html"%}
        </div>
    </div>

    <div class="event-description">
        <p> {{ e.description }} </p>
        <p>El evento tendrá lugar en {{ e.place }} el {{ e.date }} </p>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}

    <div class="participants">
        {% include "components/participants_list.html" with scores=scores %}
    </div>

</div>

<script type="text/javascript" src="{% static 'scripts/utils.js' %}"></script>
    
    {% endblock %}



