<!DOCTYPE html>
<html lang="es">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% load static %}

    <link rel="icon" href="{% static '/images/favicon.ico' %}">
    {% comment %} <link rel="icon" href="/favicon.svg" type="image/svg+xml"> {% endcomment %}
    <link rel="apple-touch-icon" href="{% static '/images/innosoft_logo-nobg.png' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/base.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "components/navbar.html" %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        {% block footer %}
        <div class="footer-text">
            <p>Web creada por alumnos de EGC, ETSII US, 2022</p>
        </div>
        <div class="footer-social">
            <a href="https://github.com/Dream-Team-US" target="_blank">
                <img src="{% static '/images/gh_logo.png' %}" alt="Github">
            </a>
        </div>
        {% endblock %}
    </div>
</body>
</html>