{% extends "base.html" %}

{% block head %}
    {% block title %}Innoweb - Inicio{% endblock %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}

<div class="home-layout">
    
    <img class="decoration-left" src="{% static 'illustrations/illustration_3.png' %}"/>
    <img class="decoration-right" src="{% static 'illustrations/illustration_2.png' %}"/>
    
    <div class="podium-wrapper">
        {% include "components/podium.html" %}
    </div>
    <div class="event-list-wrapper">
        {% include "components/events_list.html" with title="Próximos eventos" events=future_events%}
    </div>
    <div class="event-list-wrapper">
        {% include "components/events_list.html" with title="Eventos en proceso" events=current_events%}
    </div>
    <div class="event-list-wrapper">
        {% include "components/events_list.html" with title="Eventos pasados" events=past_events%}
    </div>
</div>

{% endblock %}