<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>
<body>
    <h1>Hello World</h1>
    <h2>Hello World</h2>
    <h3>Hello World</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident et neque unde ullam officia magni excepturi labore dicta, sunt atque saepe accusantium illum veniam vitae velit explicabo, rerum architecto!</p>
    <p style="color: var(--clr-red);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident et neque unde ullam officia magni excepturi labore dicta, sunt atque saepe accusantium illum veniam vitae velit explicabo, rerum architecto!</p>
</body>
</html>