<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    {% include "components/navbar.html"%}
    <div class="content">
        <h1>Hello World</h1>
        <h2>Hello World</h2>
        <h3>Hello World</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident et neque unde ullam officia magni excepturi labore dicta, sunt atque saepe accusantium illum veniam vitae velit explicabo, rerum architecto!</p>
        <p style="color: var(--clr-red);">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur provident et neque unde ullam officia magni excepturi labore dicta, sunt atque saepe accusantium illum veniam vitae velit explicabo, rerum architecto!</p>
    </div>
</body>
</html>