/*Events list*/

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

/*Event*/

.title-event {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 1.5rem;
}

.image-card {
    height: 60%;
    width: 90%;
    margin-inline: auto;
}

.event-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 30%;
    border-top-right-radius: 30%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 1px solid var(--clr-dark-blue);
    object-fit: cover;
}

.event-card {
    box-shadow: 2px 2px 2px 2px var(--clr-dark-blue);
    width: 90%;
    aspect-ratio: 1;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    margin: 10px;
    padding: 0px;
    max-width: 350px;
    min-width: 200px;
    display: block;
    background-color: var(--clr-light-blue);
    cursor: pointer;
    text-decoration: none;
}

.event-details .event-card{
    cursor: auto;
}

.event-card:hover{
    background-color: var(--clr-dark-blue);
}

.event-details .event-card:hover{
    background-color: var(--clr-light-blue);
}

.event-card:hover .title-event{
    color: var(--clr-white);
}

.event-details .event-card:hover .title-event{
    color: var(--clr-dark-blue);
}

.event-card:hover .event-image{
    border: 1px solid var(--clr-light-blue);
}

.event-details .event-card:hover .event-image{
    border: 1px solid var(--clr-dark-blue);
}

.event-details ul {
    list-style-type: none;
}

.event-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 100px 50px;
}

.event-header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 1rem ;
    gap: 4rem 4rem;
    flex-wrap: wrap;
}

.podium-wrapper-event {
    width: 400px;
}

.event-description {
    margin: 10px;
    font-size: 1.2rem;
    text-align: left;
    padding: 50px
}

/* Participants */
.participants h1 {
    text-transform: uppercase;
    font-size: 2rem;
}

.participants-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    flex-wrap: wrap-reverse;
    row-gap: 1rem;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 200px;
}

.status {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px;
    font-family: var(--ff-primary);
    font-weight: bold;
}

.sign-up {
    border: 1px solid var(--clr-dark-blue);
    border-radius: 5px;
    padding: 5px;
    font-family: var(--ff-primary);
    color: #ffffff;
    background-color: var(--clr-dark-blue-lighter);
    text-decoration: none;
}

.sign-up:hover {
    background-color: var(--clr-yellow);
    border: 1px solid var(--clr-yellow);
    color: #000000;

}

.download-certificate {
    text-decoration: none;
    padding-right: 5px;
}

.download-certificate:hover {
    text-decoration: underline;
}

@media(max-width: 720px) {

    .event-details {
        padding: 100px 20px;
    }

}

@media(max-width: 430px) {
    .event-details {
        padding: 100px 0;
    }
}

.no-events-text {
    color: var(--clr-light-blue);
}