
.home-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}

.podium-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    z-index: 5;
}

.event-list-wrapper {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-inline: 2rem;
    z-index: 5;
}

.decoration-right, .decoration-left {
    position: absolute;
    /* height: 80%; */
    opacity: 0.2;
    z-index: 1;
}

.decoration-left {
    left: 0;
    top: 0;
    scale: 0.95;
    transform: translateX(-25%) translateY(-25%);
}

.decoration-right {
    right:0;
    top: 3%;
    scale: 1;
    transform: translateX(43%);
}

@media only screen and (max-width: 1200px) {
    
    .decoration-left {
        scale: 0.8;
        left: -5%;
        opacity: 8%;
    }

    .decoration-right {
        scale: 0.8;
        right: -8%;
        top: 0;
        opacity: 8%;
    }

}

@media only screen and (max-width: 900px) {

    .decoration-left {
        top: 40%;
        scale: 1.5;
        left: 5%;
    }

    .decoration-right {
        top: 20%;
        scale: 1.8;
        right: 5%;
    }

    .podium-wrapper {
        margin-top: 0;
    }

}