html{
    height: 100%;
    background-image: url(https://theuniqueacademy.co.in/assets/images/test.png);
    background-repeat: no-repeat;
    
    background-attachment: fixed;
    background-position: left;

}

.container-login{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 var(--clr-light-blue);
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    max-width: 400px;
    width: 100%;
    position: fixed;
    top: 45%;
    left: 80%;
    transform: translate(-50%, -50%)
}
#error-form{
    text-align: center;
    font-size: 1rem;
    color: var(--clr-dark-blue);
    margin-bottom: 5px;
    
}

h4{
    text-align: center;
    margin-bottom: 20px;   
}

a{
    font-family: var(--ff-primary);
    text-decoration: none;
}
a:link{
    color: var(--clr-dark-blue);
    font-family: var(--ff-primary);
    text-decoration:none;
}
a:visited{
    color: var(--clr-light-blue);
    font-family: var(--ff-primary);
    text-decoration:none;
}
a:hover{
    color: var(--clr-dark-blue);
    font-family: var(--ff-primary);
    text-decoration:none;
}

input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    color: var(--clr-dark-blue);

}

label{
    font-family: var(--ff-primary);
}

.boton-logearte{
    background-color: var(--clr-light-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-family: var(--ff-primary);
    font-weight: 300;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--clr-dark-blue);
}

.form-login{
    margin-bottom:5px;
}

@media (max-width: 900px){
    .container-login{
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 30px 0 var(--clr-light-blue);
        padding: 20px;
        margin: 0 auto;
        margin-top: 50px;
        width: 70%;
        position: fixed;
        top: 45%;
        left: 50%;
       
    }

    html{
        background-image: url(https://theuniqueacademy.co.in/assets/images/test.png);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        
    
    
    }
}