table {
    border-spacing: 0;
    width: 85%;
    margin-inline: auto;
}

@media(max-width: 750px) {

    table {
        width: 90%;
        display: block;
        overflow-x: auto;
    }

}

/* table header */
thead th {
    border-bottom: 2px solid;
}

/* first row */
tbody tr:first-child td {
    padding-top: 1.5rem;
}

/* all rows */
table tr {
    font-family: var(--ff-primary);
    color: var(--clr-dark-blue);
}

/* all cells */
th, td {
    text-align: left;
    padding-left: 1em;
}

td {
    padding: 0.5em;
    padding-left: 1em;
}