<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/event.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1 class="title">
        {{title}}
    </h1>
    <hr class="line-break">

    <div class="events-container">
        {% if events %}
            {% for e in events %}
            {% include "components/event.html" with event=e %}
            {% endfor %}
        {% else %}
            <h3 class="no-events-text">En este momento no hay {{title | lower}}</h3>
        {% endif %}
    </div>
</body>