<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'styles/podium.css' %}">
</head>
<div class="podium">
  <div class="podium-item">
    <div class="podium-winner-wrapper">
      <a><img class="podium-photo" src="{{ second.photo }}"/></a>
      <p class="podium-winner">{{ second.name }} {{ second.surname }}</p>
    </div>
    <div class="podium-position second">2</div>
  </div>
  <div class="podium-item">
    <div class="podium-winner-wrapper">
      <a><img class="podium-photo" src="{{ first.photo }}"/></a>
      <p class="podium-winner">{{ first.name }} {{ first.surname }} </p>
    </div>
    <div class="podium-position first">1</div>
  </div>
  <div class="podium-item">
    <div class="podium-winner-wrapper">
      <a><img class="podium-photo" src="{{ third.photo }}"/></a>
      <p class="podium-winner">{{ third.name }} {{ third.surname }}</p>
    </div>
    <div class="podium-position third">3</div>
  </div>
</div>