<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
    <head>


<table class="tftable">
    <tbody class = "body">
        <tr>
            <th>{{ column1 }}</th>
            <th>{{ column2 }}</th>
            <th>Puntos</th>
            <th>Diploma</th>
        </tr>
    {% for e in events %}
        <tr>
            <td>{{e.name}}</td>
            <td>#{{e.position}}</td>
            <td>{{e.points}}</td>
            <td><a href="{% url 'certificate' e.id p.id %}" target="_blank" class="btn btn-primary">Descargar</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>